@media (max-width: 1250px) {
     .main_info__buttons button {
          font-size: 0.7em;
     }
     .main_info__text h1 {
          font-size: 3.5em;
     }
     .main_info__text p {
          font-size: 20px;
     }
     .hamburger-menu {
          display: none;
     }
     .footer_input-box p {
          display: none;
     }
}
@media (max-width: 1000px) {
     .main_info__block_rectangle {
          width: 37%;
     }
     .main_info__block {
          padding: 6%;
          width: 34%;
     }
     .hamburger-menu {
          display: none;
          overflow: hidden;
     }
}
@media (max-width: 960px) {
     .main_info__buttons {
          flex-direction: column;
          height: 125px;
          justify-content: space-between;
     }
     .burger__menu {
          display: none;
     }
     .main_info__block_rectangle {
          width: 389px;
     }
     .partners {
          width: 99%;
     }
     .main_info__block_rectangle {
          display: none;
     }
     .main_info__block {
          padding: 9.5% 10%;
          width: 43%;
          height: 420px;
     }
     .main_info__buttons {
          height: 170px;
     }
     .main_info__buttons button {
          font-size: 1em;
     }
     ul li {
          font-size: 13px;
     }
}
@media (max-width: 860px) {
     .partners {
          width: 100%;
     }
     .main_info__block_rectangle {
          display: none;
     }
     .main_info__block {
          padding: 10%;
          width: 50%;
          height: 420px;
     }
     .main_info__buttons {
          height: 165px;
          font-size: 20px;
     }
     .main_info__text h1 {
          font-size: 4em;
     }
     .main_info__subtitle {
          font-size: 14px;
     }
     .block_job__text h2 {
          font-size: 64px;
     }
     .block_job__text p {
          font-size: 19px;
     }
     /* block_job__container {
          width: 80%;
     } */
     .job__news {
          padding: 30px 10px 30px 0;
          width: 370px;
     }
     .block_job__news {
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 370;
     }
     .new_subtitle-data {
          font-size: 13px;
     }
     ul li {
          font-size: 13px;
     }
     .nav__footer li {
          font-size: 14px;
     }
     .footer__end ul {
          display: none;
     }
     .footer_made {
          display: none;
     }
     .burger__menu {
          display: none;
     }
     .made {
          display: none;
     }
     .info_service__block-container {
          margin: 0 50px;
          justify-content: center;
          justify-content: space-between;
     }
     .interier__category {
          position: relative;
          top: -50px;
          display: flex;
          justify-content: center;
     }
}

@media (max-width: 770px) {
     body {
          width: 760px;
     }
     main {
          width: 770px;
     }
     .main__info {
          height: 740px;
          width: 700px;
     }
     .main_info__contaner {
          display: flex;
          width: 760px;
     }
     .block_job__container {
          display: flex;
          width: 85%;
          margin-top: 20px;
     }

     .main_info__block {
          width: 660px;
          height: 470px;
          position: absolute;
          top: 110px;
          background-color: #ffffff95;
          left: 50px;
          padding: 30px 0 0 20px;
     }
     .block_job__container {
          flex-direction: column;
          width: 740px;
          padding-left: 35px;
     }
     .block_job__section {
          width: 770px;
          height: 1000px;
          background-color: #ebebeb;
          display: flex;
          flex-direction: column;
          align-items: center;
     }
     .block_job__text {
          width: 680px;
          padding-top: 90px;
          /* padding-left: 40px; */
     }
     .img__main img {
          width: 680px;
          height: 490px;
          position: absolute;
          top: 110px;
          left: 50px;
     }

     .main_info__buttons {
          height: 130px;
          font-size: 20px;
          padding-left: 20px;
          padding-right: 20px;
          width: 600px;
     }
     .main_info__buttons button:first-child {
          padding: 30px 40px;
     }
     .main_info__buttons button:last-child {
          padding: 30px 40px;
     }
     .block_job__name {
          font-style: normal;
          font-weight: 400;
          font-size: 12px;
          line-height: 18px;
          text-align: center;
          letter-spacing: 2.975px;
          text-transform: uppercase;
          color: #99823d;
     }
     .info_service__block-container {
          margin: 0 50px;
          justify-content: center;
     }

     .block_job__num {
          font-family: "Teko";
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          line-height: 59px;
          text-align: center;
          color: #141414;
     }
     .block_job__news {
          display: flex;
          flex-direction: column;
          align-items: start;
          width: 90%;
     }
     .interier__category {
          position: relative;
          top: 90px;
          display: flex;
          justify-content: center;
          width: 770px;
     }
     .partners p {
          font-size: 15px;
     }
     .category__container {
          justify-content: space-around;
          width: 95%;
     }
     .category__container-card img {
          width: 430px;
     }
     .title_category {
          width: 430px;
          bottom: 113px;
     }
     .text_category {
          font-size: 14px;
          width: 230px;
          padding: 10px 30px 68px 30px;
          bottom: 113px;
          left: 0;
     }
     .rectangle__black {
          display: none;
     }
     .info_service__text p {
          font-size: 14px;
          text-align: start;
     }
     .text_category {
          font-size: 14px;
          width: 230px;
          padding: 10px 30px 68px 30px;
          bottom: 113px;
          /* right: -17px; */
          position: relative;
     }
     .info_service__block-box {
          width: 600px;
     }
     .info_service__block-container {
          min-width: 360px;
          max-width: 700px;
          margin: 0;
          display: flex;
          align-items: center;
          justify-content: space-between;
     }
     .info_service {
          /* padding: 40px; */
          margin: 0 60px;
          min-width: 500px;
          max-width: 700px;
     }
     .info_service__wrapper {
          padding-bottom: 100px;
          background-color: #ffffff;
          width: 700px;
          padding-top: 100px;
          position: absolute;
     }

     .info_service__text h3 {
          width: 500px;
          text-align: start;
     }
     .info_service__title p {
          font-size: 16px;
     }
     .info_service__title h4 {
          font-size: 28px;
     }
     .info_service__text {
          font-size: 22px;
          width: 500px;
          align-items: start;
     }
     .info_service__wrapper button {
          font-size: 16px;
          padding: 35px 120px;
     }
     ul li {
          font-size: 15px;
     }
     .footer_input {
          width: 70%;
     }
     .footer_input-box {
          width: 500px;
          position: absolute;
          left: 50px;
     }
     .footer_input-box button {
          width: 230px;
          font-size: 15px;
     }
     .partners {
          display: none;
     }
     .block_job__statistics-box {
          display: flex;
          align-items: center;
          width: 740px;
          /* height: 100px; */
          justify-content: space-evenly;
          padding-bottom: 270px;
     }

     .logo__nav {
          position: absolute;
          top: -30px;
          right: 0;
          position: 60px;
     }
     .logo__nav img {
          width: 240px;
          height: 90px;
     }
     .main_info__text {
          width: 580px;
          padding-left: 30px;
          padding-top: 40px;
          padding-right: 50px;
     }

     .main_info__text p {
          font-size: 22px;
          padding-bottom: 20px;
     }
     .main_info__buttons {
          height: 170px;
          font-size: 22px;
          width: 580px;
     }
     .main_info__text h1 {
          font-size: 4.1em;
     }
     .made {
          display: none;
     }
     ul li {
          font-size: 18px;
     }
     .header__container nav {
          display: none;
     }
     .hamburger-menu {
          display: block;
     }
     header {
          display: flex;
          justify-content: center;
          background-color: #141414;
          width: 770px;
          position: fixed;
          z-index: 10;
     }

     .header__container {
          width: 600px;
          height: 90px;
          display: flex;
          align-items: center;
          background: #141414;
     }
     .category__container {
          width: 700px;
          position: relative;
          height: 1200px;
          flex-direction: column;
          align-items: center;
     }
     nav {
          width: 65%;
          padding-left: 200px;
     }
     nav ul {
          display: flex;
          justify-content: space-between;
     }
     ul li {
          font-family: "Open Sans";
          font-style: normal;
          font-weight: 400;
          font-size: 11px;
          line-height: 34px;
          letter-spacing: 2.7625px;
          text-transform: uppercase;
          color: #ffffff;
     }
     #menu__toggle {
          opacity: 0;
     }
     #menu__toggle:checked + .menu__btn > span {
          transform: rotate(45deg);
     }
     #menu__toggle:checked + .menu__btn > span::before {
          top: 0;
          transform: rotate(0deg);
     }
     #menu__toggle:checked + .menu__btn > span::after {
          top: 0;
          transform: rotate(90deg);
     }
     #menu__toggle:checked ~ .menu__box {
          left: 0 !important;
          z-index: 3;
     }
     .menu__btn {
          position: fixed;
          top: 30px;
          left: 60px;
          width: 45px;
          height: 45px;
          cursor: pointer;
          z-index: 4;
     }
     .menu__btn > span,
     .menu__btn > span::before,
     .menu__btn > span::after {
          display: block;
          position: absolute;
          width: 45px;
          height: 4px;
          left: 0;
          top: 20px;
          background-color: #ffffff;
          transition-duration: 0.25s;
     }
     .logo__nav {
          z-index: 2;
          position: absolute;
     }

     .menu__btn > span::before {
          content: "";
          top: -8px;
     }
     .menu__btn > span::after {
          content: "";
          top: 8px;
     }
     .menu__box {
          display: block;
          position: fixed;
          top: 0;
          left: -400px;
          width: 80%;
          height: 100%;
          margin: 0;
          padding: 80px;
          list-style: none;
          background-color: #141414;
          box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
          transition-duration: 0.25s;
     }
     .menu__item {
          display: block;
          padding: 12px 24px;
          color: #ffffff;
          font-family: "Roboto", sans-serif;
          font-size: 20px;
          font-weight: 600;
          text-decoration: none;
          transition-duration: 0.25s;
     }
     .menu__item:hover {
          background-color: #cfd8dc;
     }
     .our-projects_wrapper {
          position: relative;
          top: 2000px;
     }
     .projects_logo {
          left: 50px;
          flex-wrap: wrap;
          width: 500px;
          height: 150px;
          align-items: center;
          justify-content: space-around;
          position: relative;
     }
     .footer__box {
          width: 700px;
          /* display: block; */
          height: 270px;
          background-color: #3d3d3d;
          margin: 0 80px;
          position: absolute;
          left: -50px;
          top: 240px;
          justify-content: space-between;
     }
     .nav__footer {
          display: flex;
          width: 430px;
          flex-wrap: wrap;
          padding-right: 20px;
     }
     .footer_input-box {
          height: 150px;
          width: 500px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
     }
}

@media (max-width: 390px) {
     .menu__box {
          display: block;
          position: fixed;
          top: 0;
          left: -400px;
          width: 80%;
          height: 100%;
          margin: 0;
          padding: 80px;
          list-style: none;
          background-color: #141414;
          box-shadow: 2px 2px 6px rgb(0 0 0 / 40%);
          transition-duration: 0.25s;
     }
     main {
          width: 390px;
          background-color: #ffffff;
     }
     .header__container {
          width: 370px;
     }
     header {
          width: 390px;
     }
     body {
          width: 390px;
          background-color: #ffffff;
     }
     .img__main {
          display: none;
     }

     .main_info__text {
          width: 370px;
          padding: 0 5px 0 25px;
          padding-top: 40px;
     }
     .main_info__text h1 {
          font-size: 2.5em;
     }

     .main_info__block {
          height: 470px;
          position: absolute;
          top: 80px;
          left: -20px;
          background-color: #ffffff;
          width: 390px;
          padding-left: 10px;
     }
     .main_info {
          background-color: #ffffff;
          /* /* width: 390px; */
          /* padding: 5px;  */
     }
     .main_info__contaner {
          width: 360px;
          /* padding: 10px; */
     }
     .logo__nav {
          position: absolute;
          top: -65px;
          right: 10px;
          position: 60px;
          padding: 0;
     }
     .logo__nav img {
          width: 190px;
          height: 80px;
          padding: 0;
     }

     .main_info__buttons {
          height: 170px;
          font-size: 22px;
          width: 350px;
     }

     .main_info__buttons button:first-child {
          width: 370px;
          padding: 30px 0 30px 0;
     }
     .main_info__buttons button:last-child {
          width: 370px;
          padding: 30px 0 30px 0;
     }
     .job__news h3 {
          font-size: 30px;
          width: 360px;
     }
     .job__news {
          padding: 30px 0 30px 0;
          width: 370px;
     }
     .main_info__text p {
          font-size: 22px;
          padding-bottom: 20px;
          width: 360px;
     }
     .block_job__section {
          padding-top: 50px;
          width: 390px;
          height: 940px;
     }
     .block_job__container {
          width: 370px;
     }
     .block_job__text h2 {
          font-size: 50px;
          width: 360px;
     }
     .block_job__text p {
          width: 360px;
     }
     .block_job__text {
          width: 370px;
          padding: 0;
     }
     .block_job__statistics-box {
          display: flex;
          align-items: center;
          width: 360px;
          flex-direction: column;
          height: 450px;
          padding: 100px 15px 0 15px;
     }
     .statistics-box {
          height: 200px;
     }
     .block_job__container {
          width: 360px;
          padding: 10px;
     }
     .category__container {
          width: 390px;
          position: relative;
          height: 1000px;
          flex-direction: column;
          align-items: center;
          top: 500px;
          left: 0;
          padding: 0;
     }
     .category__container-card {
          width: 360px;
          position: relative;
          height: 100px;
          padding: 0;
     }
     .category__container-card img {
          width: 360px;
          padding: 0;
     }
     .title_category {
          height: 70px;
          width: 360px;
          font-size: 25px;
          top: 200px;
     }
     .text_category {
          font-size: 12px;
     }
     .interier__category {
          width: 390px;
     }
     .info_service__text {
          font-size: 22px;
          width: 350px;
          align-items: start;
          padding: 30px 0;
     }

     .info_service__block-box {
          width: 360px;
          padding: 50px 0 0 0;
     }
     .info_service__text h3 {
          width: 360px;
          text-align: start;
          font-size: 40px;
     }
     .info_service__wrapper {
          top: 700px;
          padding: 50px 0 0 0;
          width: 370px;
          position: relative;
     }
     .info_service {
          /* padding: 40px; */
          margin: 0 15px;
          min-width: 360px;
          max-width: 390px;
          padding: 0;
     }
     .info_service__block-container {
          min-width: 340px;
          max-width: 350px;
          margin: 0;
          padding: 0;
          justify-content: start;
     }
     .info_service__wrapper button {
          font-size: 16px;
          padding: 35px 20px;
          width: 360px;
     }
     .our-projects_wrapper {
          width: 390px;
     }
     .our-projects {
          width: 360px;
     }
     .projects_logo {
          left: 0;
          top: 0;
          flex-wrap: wrap;
          width: 360px;
          height: 150px;
          /* align-items: center; */
          justify-content: space-around;
          position: relative;
     }
     .footer__end {
          display: none;
     }

     .footer__box {
          flex-direction: column;
          width: 390px;
          height: 270px;
          background-color: #3d3d3d;
          position: absolute;
          left: 0;
          top: 240px;
          justify-content: space-between;
     }
     .footer_input-box {
          width: 360px;
          background-color: #99823d;
          display: flex;
          flex-direction: column;
          position: absolute;
          padding: 15px;
          top: 100px;
          left: 0;
     }
     .footer_input {
          width: 350px;
          padding: 0;
     }
     .projects_logo {
          display: none;
     }
     .nav__footer {
          display: flex;
          width: 360px;
          flex-wrap: wrap;
     }
     .footer__end {
          display: none;
     }
     .footer__box {
          width: 390px;
          display: block;
          height: 450px;
          background-color: #3d3d3d;
          margin: 0;
          position: absolute;
          top: 240px;
          z-index: 0;
          padding: 0;
     }
     .our-projects_wrapper {
          height: 100px;
          position: relative;
          top: 800px;
          background-color: #99823d;
     }
     .nav__footer {
          display: flex;
          width: 360px;
          flex-direction: column;
          padding: 40px 0;
     }
     .logo__footer {
          padding-top: 100px;
          padding-left: 110px;
     }
     .nav__footer li {
          font-size: 14px;
          width: 390px;
     }
     .footer_input-box p {
          display: block;
          font-family: "Teko";
          font-style: normal;
          font-weight: 400;
          font-size: 40px;
          line-height: 53px;
          text-transform: capitalize;
          color: #ffffff;
          padding-bottom: 10px;
     }
}
